@charset "utf-8";

body {
  :global(#root) {
    .Task_List {
      ul {
        display: flex;
        flex-direction: column-reverse;
        list-style: none;
      }
      .Input_Add_Task {
        border: 1px dashed #bbb;
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border-radius: 3px;
      }
    }
  }
}
