@charset "utf-8";

body {
  :global(#root) {
    :global(#App) {
      .Tab_Item {
        float: left;
        width: 100px;
        border: 1px solid #999;
        border-radius: 10px 10px 0 0;
        margin-right: 2px;
        text-align: center;
        background-color: #ccc;
        height: 22px;
        line-height: 22px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
        &:global(.active) {
          background-color: #fc6;
        }
      }
    }
  }
}
