@charset "utf-8";

body {
  :global(#root) {
    :global(#App) {
    .Tab_View {
        width: calc(100% - 2px);
        height: 200px;
        margin-top: -1px;
        line-height: 200px;
        text-align: center;
        border:1px solid #999;
      }
    }
  }
}

